.App {
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
}

.search-box {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.device-details {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.error-box {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}
